node_modules/
android/
ios/
npm-debug.log*
yarn-error.log
yarn-debug.log*

# Metro Bundler
.metro-health-check*
*.jsbundle
*.jsbundle.meta

.DS_Store
.AppleDouble
.LSOverride

Icon

._*

build/
DerivedData/

*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.app
*.dSYM/
*.xcuserstate
project.xcworkspace/


/android/build/
/android/app/build/
/android/.idea/
/android/.gradle/


*.iml
*.hprof
.cxx/


local.properties
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

*.keystore
!debug.keystore

# Kotlin
.kotlin/

# ===================================================================
# VS Code
# ===================================================================
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json


.env
.env.*
!.env.example

# Ruby / CocoaPods
/ios/Pods/
/vendor/bundle/
Gemfile.lock

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions


**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots/
**/fastlane/test_output/


coverage/
/coverage/
/jest-coverage/
.jest-cache

.watchmanconfig

sentry.properties
*.sentryclirc